@font-face {
    font-family: GaisyrRI;
    src: url('fonts/GaisyrRI.otf');
}
@font-face {
    font-family: VisueltI;
    src: url('fonts/VisueltI.otf');
}

@font-face {
    font-family: Faster;
    src: url(fonts/Faster.ttf);
}

body {
    display: grid;
    grid-template-columns: repeat(10, 1fr 20px);
    grid-template-rows: repeat(50, 1fr 20px);
    position: relative;
}

.title {
    font-family: GaisyrRI;
    grid-column-start: 9;
    grid-column-end: 17;
    grid-row-start: 1;
    grid-row-end: 10;
    margin-left: 30px;
}

.howto {
    font-size: 90px;
    grid-row-start: 1;
    grid-row-end: 10;
}

.thumb {
    width: 300px;
    grid-column-start: 1;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 20;
}

.thumbimg {
    width:520px;
    grid-row-start: 1;
    grid-row-end: 20;
}

.crossimg {
    width: 2000px;
}

.cross {
    grid-column-start: 1;
    grid-column-end: 17;
    grid-row-start: 1;
    grid-row-end: 10;
}

.subtitle {
    font-family: VisueltI;
    font-size: 25px;
    grid-column-start: 9;
    grid-column-end: 17;
    grid-row-start: 1;
    grid-row-end: 5;
}

.burst1 {
    grid-column-start: 5;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 3;
    margin-left: 20px;
    position: absolute;
    top: 15%;
    font-family: Faster;
    z-index: 1;
}

.burst2 {
    grid-column-start: 12;
    grid-column-end: 18;
    grid-row-start: 1;
    grid-row-end: 3;
    position: absolute;
    top: 50%;
    font-family: Faster;
}


.doc {
    z-index: 2;
    grid-column-start: 10;
    grid-column-end: 10;
    position: absolute;
    top: 15%;
    left: 23%;
    font-size: 30px;
}

.buynow {
    z-index: 2;
    grid-column-start: 10;
    grid-column-end: 10;
    position: absolute;
    top: 22%;
    left: 23%;
    font-size: 30px;
}
