@font-face {
    font-family: GaisyrRI;
    src: url('fonts/GaisyrRI.otf');
}
@font-face {
    font-family: VisueltI;
    src: url('fonts/VisueltI.otf');
}

@font-face {
    font-family: Faster;
    src: url(fonts/Faster.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Faster+One&display=swap');

.faster-one-regular {
    font-family: "Faster One", system-ui;
    font-weight: 400;
    font-style: normal;
  }

body {
    display: flex;
}

.container-1 {
    height: 3rem;
    width: 100vw;
    margin-top: -10px;
    margin-left: -10px;
    background-color: salmon;
    font-family: "Faster One";
    font-size: 40px;
    color: #A80000;
}


.container-2{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    /* grid-template-columns: repeat(10, 1fr 20px);
    grid-template-rows: repeat(50, 1fr 20px); */
    /* position: relative; */

}


.title {
    font-family: GaisyrRI;
    justify-content: center;
    font-size: 6.5vw;
    margin-top: 10vh;
    margin-left: 1%;
    /* margin-left: 20.3%; */
    /* grid-row-start: 1;
    grid-row-end: 10; */
}

.thumb {
    /* width: 25vw; */
    justify-content: flex-start;

}

.thumbimg {
    width:47vw;
    margin-top: -3vw;
    /* grid-row-start: 1;
    grid-row-end: 20; */
}


.crossimg {
    width: 100vw;

}

.cross {
    justify-content: flex-end;
    margin-left: -80vw;
    /* grid-column-start: 1;
    grid-column-end: 17;
    grid-row-start: 1;
    grid-row-end: 10; */
}

.subtitle {
    font-family: VisueltI;
    font-size: 25px;
    /* grid-column-start: 9;
    grid-column-end: 17;
    grid-row-start: 1;
    grid-row-end: 5; */
}

.burst1 {
    /* grid-column-start: 5;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 3;
     margin-left: 20px;
    position: absolute;
    */
    margin-top: 7vw;
    margin-left: -23vw;
    justify-content: center;
    font-family: Faster;
    z-index: 1;
}

.burst2 {
    /* grid-column-start: 12;
    grid-column-end: 18;
    grid-row-start: 1;
    grid-row-end: 3; */
    /* position: absolute;
    top: 50%; */
    margin-left: -21vw;
    margin-top: 18vw;
    justify-content: center;
    font-family: Faster;
    scale: 90%;
}


.burst3 {
    justify-content: flex-start;
    width: 45vw;
}


.doc {
    z-index: 2;
    justify-content: center;
    margin-top: -9vw;
    margin-left: 4vw;
    font-family: Faster;
    font-size: 30px;
}



.marquee {
    height: 50px;
    background-color: lightsalmon;
    width: 100vw;
    
}

.container-3 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: -140vw;
    width: 100vw;
    margin-right: 0;
}

.popup {
    /* display: flex; */
    align-self: flex-end;

}
.popup-img {
    width: 25vw;
}


.buynow {
    margin-top: -15vw;
    margin-left: 20vw;
}

.group {
    width: 102vw;
    margin-left: -1vw;
    margin-top: 15vw;
}

.soldout {
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin-top: 10vw;
}

.soldout-img {
    align-self: center;
    width: 80vw;
}



marquee {
    height: 3rem;
    width: 100vw;
    margin-top: -10px;
    margin-left: -10px;
    background-color: salmon;
    font-family: "Faster One";
    font-size: 40px;
    color: #A80000;
}